<!DOCTYPE html>
@{
    if (ViewBag.User != null)
    {
        Layout = "LogLayout";
    }
    else
    {
        Layout = "NoLogLayout";
    }
}
<html>
    <head>
        <link rel="stylesheet" href="~/Styles/styles.css">
        <title>Почта России</title>
    </head>
    <body>
        <div class="container">
            <table width="100%">
                <tr>
                    <td width="70%">
                        <img src="~/images/main.png" width="70%" alt="main" />
                    </td>
                    <td>
						
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
